@{
    ViewBag.Title = "Подтверждение смены пароля";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1>Подтверждение смены пароля</h1>
    <p class="lead">
        На указанный электронный адрес было направлено письмо со ссылкой для смены пароля на сайте.
        Если вы не получили данное письмо, нажмите @Html.ActionLink("cюда", "ForgotPassword", "Identity").
    </p>
</div>