@{
    ViewBag.Title = "Подтверждение почты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1>Подтверждение почты</h1>
    <p class="lead">
        На указанный электронный адрес было направлено письмо со ссылкой для подтверждения регистрации на сайте.
    </p>
</div>

