@model WebsiteMangaAnime.Models.IdentityControl.ForgotPasswordModel
@{
    ViewBag.Title = "Смена пароля";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <div class="container">
        <div class="text-left">
            <h2>Сменить пароль</h2>
        </div>
    </div>
    <hr />
    <div class="container">
        @using (Html.BeginForm("ForgotPassword", "Identity", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Отправить" />
            </div>
        }
    </div>
</div>

