@{
    ViewBag.Title = "Успешное подтверждение почты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1>Успешное подтверждение почты</h1>
    <p class="lead">
        Почта успешно подтверждена. Для продолжения регистрации перейдите по @Html.ActionLink("ссылке", "Login", "Identity").
    </p>
</div>