@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Main";
}
<div class="jumbotron">
    <h1>WebsiteMangaAnime</h1>
    <p class="lead">«WebsiteMangaAnime» - русскоязычный интернет-сервис об аниме и манге.
    Сайт предоставляет информацию об аниме и манге, в том числе кадры из аниме и отрывки из манги, а также данные о персонажах, связанных с конкретным произведением.
    Посетители могут смотреть информацию, ставить оценки произведениям, рекомендовать их и писать рецензии.</p>
</div>
<div class="jumbotron">
    <div class="col-md-6">
        <h2>Аниме</h2>
        <p>
            Аниме - японская мультипликация. Аниме отличается характерной манерой отрисовки персонажей и фонов.
            Именно на нашем сайте представлено самое лучшее аниме за всю историю.
            Тут можно найти любимый жанр и выбрать аниме на свой вкус.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("BestAnime", "Anime")">Перейти к каталогу аниме &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Манга</h2>
        <p>
            Манга - японские комиксы. Манга уважаема как форма изобразительного искусства и как литературное явление.
            Именно на нашем сайте представлено самая лучшая манга за всю историю.
            Тут можно найти любимый жанр и выбрать мангу на свой вкус.
        </p>
    <p><a class="btn btn-default" href="@Url.Action("BestManga", "Manga")">Перейти к каталогу манги &raquo;</a></p>
    </div>
</div>